@using WebApplication6.Models
@model Pais

<form method="post">

    IdPais:<input type="text" name="IdPais" value="@Model.IdPais"/><br/>
    Nombre:<input type="text" name="Nombre" value="@Model.Nombre"/><br/>
    <input type="submit"/>

</form>